@mixin cover-image() {
    .cover-image {
        left: 0;
        right: 0;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
    }
}

@include cover-image;
